h1{
    font-weight: bolder;
    text-align: center;
    border-bottom-style: inset;
    color: #6A5ACD;
    
}
form{
    text-align: center;
}
h3{
    font-weight: bolder;
    color: green;
    
}
h4{
    font-weight: bolder;
    color: gold;
}
img{
    width: 550px;
    height: 300px;
}