*{
    background-color: rgb(248, 237, 237);
}
h2{

    text-align: center;
    border-bottom-style: inset;
    color: 	#8B4513;
    
    
}
form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
}

h3{
    font-weight: bolder;
    color: gold;
    
}

